JWT_SECRET_KEY=5j1rgs52oe2VR43gcXv68Y55tcTH4LLPMhG84hbImC6
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE=30
FEDERAL_URL=https://normas.receita.fazenda.gov.br/sijut2consulta/consulta.action

DATABASE_URL=postgresql://postgres:123456@localhost:5432/norms_db
